@model Domain.Dtos.AddContactDto
<!-- Jumbotron -->
<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
     style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
    <h1 class="mb-3 h2">Contact</h1>
</div>
<!-- Jumbotron -->

<form method="post" asp-action="Create">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Enter full name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label>Subject</label>
        <textarea asp-for="Subject" class="form-control" placeholder="Enter subject"></textarea>
        <span class="text-danger" asp-validation-for="Subject"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <textarea asp-for="Email" class="form-control" placeholder="Enter email"></textarea>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label>Phone</label>
        <textarea asp-for="Phone" class="form-control" placeholder="Enter phone number"></textarea>
        <span class="text-danger" asp-validation-for="Phone"></span>
    </div>
    <div class="form-group">
        <label>Message</label>
        <textarea asp-for="Message" class="form-control" placeholder="Enter message"></textarea>
        <span class="text-danger" asp-validation-for="Message"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>